<!--Traemos la lista de productos del JSON-->
<table id="products">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Price</th>
        <th>Stock</th>
    </tr>
    <tr>
    <script>
    fetch('/api/products') //Pongo la ruta del servidor para obtener el JSON.
        .then(response => response.json())
        .then(products => {
            const table = document.querySelector('#products');

            products.forEach(product => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${product.id}</td>
                    <td>${product.title}</td>
                    <td>${product.price}</td>
                    <td>${product.stock}</td>
                `;

                table.appendChild(row);
            });
        })
        .catch(error => console.error('Error fetching JSON:', error));
    </script>
    </tr>

</table>

<script src="/socket.io/socket.io.js"></script>